<<<<<<< HEAD
<h1>Pages#index</h1>
<p><%=link_to 'About Us', aboutUs_path %></p>
=======
<h1>WELCOME TO OUT PROJECT</h1>
<p><%=link_to 'contactenos', contactUS_path %></p>
>>>>>>> 72796a4fad008c2d94b5493bc295b3cd280704fa
